<div class="container-fluid">
	<div class="row">
		<div class="col-2 vh-100 d-flex flex-column flex-shrink-0 p-3 text-bg-light">
			<ul class="list-unstyled ps-0">
				<li class="mb-1">
					<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
						Home
					</button>
					<div class="collapse show" id="home-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li><a href="#" class="link-white-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
							<li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Updates</a></li>
							<li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Reports</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<div class="col">
			<div class="container-fluid">
				<div class="row">
					<div class="col-7">
						<h1>Ola {{logged.name}}, seja bem-vindo</h1>
						<p>è Necessário configurar a empresa matriz para visualizar todos as informações do sistema.</p>
						<button class="btn btn-primary">Iniciar Configuração</button>
					</div>
					<div class="col-5"></div>
				</div>
			</div>
		</div>
	</div>
</div>
